<main class="container my-5">
  <div class="jumbotron">
    <h1 class="display-4">Novos Posts</h1>
    <hr class="my-4">
  </div>
</main>

<section class="container">
  {{#each posts}}
  <div class="card mt-4">
    <div class="card-body">
      <h3>{{title}}</h3>
      <p>{{content}}</p>
      <a href="/postagem/{{_id}}"><button class="btn btn-success">Leia mais</button></a>
      <hr>
      <small>Criado por: <strong>{{author.username}}</strong></small><br>
      <small>Categoria: <strong>{{category.name}}</strong></small><br>
      <small>Data da publicação: <strong>{{created_at}}</strong></small>
    </div>
  </div>
  <br />
  {{/each}}
</section>